body {
  background: gray;
  color: bisque;
}

h4 {
  color: brown;
  font-size: 3rem;
  border-radius: 1px solid black;
}

h4:hover {
  border-radius: 2px solid black;
  transition: 0.3s;
  transform: scale(1.3);
}
